body{
    color: aliceblue;
}
h1{
    color: black;
}
h2{
    color: navy;
}
h3{
    color: navy;
}
p{
    color: rgb(33, 0, 46);
}
li{
    color: rgb(33, 0, 46);
}
a{
    color: blue;
}